*{
    font-family: Cambria, serif;
}

.accordion-button:not(.collapse){
    color:black !important;
}

#name{
    margin-top:-20px;
}

#career{
    font-size: 150%;
    margin-top:-15px;
}

ul{
    text-align:start;
}

.vert-center{
    display:flex;
    flex-direction: column;
    align-items: start;
}

@media only screen and (max-width:600px){
    .vert-center{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}