*{
    font-family: Cambria, serif;
}

#diploma{
    padding-top:20px;
    font-size:100%;
}

#name{
    margin-top:-20px;
    display:table-caption;
}

#career{
    font-size: 150%
}
#careernote{
    margin-top: -25px;
}

ul{
    text-align:start;
}

